@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: rgb(23, 23, 23);
  background: linear-gradient(
    236deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

@font-face {
  font-family: "CoHeadlineBold";
  src: url(../../public/fonts/co-deadline-bold.otf) format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

